.appsuggestion {
	margin-top: 20px;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 20px;
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
}

.appimage {
	width: 100%;
	height: auto;
	object-fit: contain;
}

.appsuggestion__details {
	width: 50%;
	/* border: 1px solid black; */
	position: absolute;
	z-index: 1;
	top: 120px;
	left: 120px;
}

.appsuggestion__text {
	font-size: 2rem;
	font-weight: 400;
	margin-bottom: 35px;
}

.appsuggestion__button {
	cursor: pointer;
	width: 356px;
	height: 55px;
	color: white;
	background: black;
	border-radius: 4px;
	border-color: black;
	font-weight: normal;
	font-size: 1.2rem;
	line-height: 1.42857143;
	z-index: 10;
}
